.firstimage{
	margin-left:40px;
	margin-top:20px;
	float:left;
}
.img1{
	margin-right:40px;
	margin-top:30px;
	float:right;
}
.img2{
	margin-right:40px;
	margin-top:33px;
	float:right;
}
a{
	margin-right:40px;
	margin-top:33px;
	float:right;
	color:black;
	font-size:30px;
	text-decoration:none;
	
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCC;
  margin-right:40px;
	margin-top:40px;
	float:right;
  
}
.search{
	margin-right:0px;
	margin-top:38px;
	float:right;
}
	








	



	

	
